.App {
  text-align: center;
}
body{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
b{
  color: rgb(34, 189, 13);
  font-size: 25px;
  font-weight: 600px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
h1{
  text-align: center;
  text-decoration: underline;
}
.profile{
  margin:1%;
  padding: 1%;
  border: 2px solid white;
  border-style: groove;
text-overflow: ellipsis;
}
.profil{
  border: 2px solid white;
}
img{
  border-radius: 50%;
}